<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <div class="error">
        <i class="fa-solid fa-circle-exclamation"></i>
        <h3>404 Not Found</h3>
     </div>
</body>
</html>